/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*
1/ vị trí
2/ kích thước (width,height) 
3/ màu sẵc
4/ kiểu dáng
 */

/* common */
.clear{
    clear: both;
}
.text-white{
    color: #fff;
}
.text-center{
    text-align: center !important;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}.row::after{
    content: " ";
    display: block;
    clear: both;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-half{
    width: 50%;
}
.col-third {
    width: calc(100% /3 );
}
.col-full{
    width: 100%;
}
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}
.mt-32{
    margin-top: 32px !important;
}
/* main */
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;

 }
#main{

}

#header{
    height: 46.5px;
    background-color: #000;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 1;
}
#nav{
    display: inline-block;
}
#nav, .subnav{
    list-style-type: none;
}
#nav > li{
    display: inline-block;
}
#nav li{
    position: relative;
}
#nav > li > a{
    color:#fff;
    text-transform: uppercase;
}
#nav li a{
    text-decoration: none;
    line-height:46.5px ;
    padding:0 24px;
    display: block;
   
}
#nav li:hover .subnav{
    display: block;
}
#nav .subnav li:hover a,
#nav > li:hover > a{
    color:#000;
    background-color: #ccc;

}

#nav .subnav{
    display: none;
    min-width: 160px;
    top: 100%;
    left: 0;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}
#nav .nav-arrow-down{
    font-size: 14px;
}
#header .mobile-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
}
#header .mobile-menu-btn,
#header .search-btn{
    float: right;
    padding: 0 24px;
    cursor: pointer;
}

#header .search-btn:hover{
    cursor: pointer;
    background-color: #f44336;
}
#header .mobile-menu-btn:hover{
    background-color: #ccc;

}
#header .mobile-menu-btn:hover .menu-icon{
    color: #000;
}
#header .menu-icon,
#header .search-icon{
    color: #fff;
    font-size: 14px;
    line-height: 46px;
  
}
#slider {
   position: relative; 
   margin-top: 46px;
   padding-top: 50%;
   background: url('/web_band/assets/img/slider/slider1.jpg') top center / cover no-repeat;

}
#slider .text-content{
    position:absolute;
    bottom: 47px;
    color: #fff;
    width: 100%;
    text-align: center;
}
#slider .text-heading{
    /* độ dày chữ */
    font-weight:300;
    font-size: 24px;
}
#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
    text-shadow: 0 0 1px #000;
}
#content{

}
#content .content-section{
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px ;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
#content .section-heading{
    font-size: 30px;
    text-align: center;
    font-weight:300;
    letter-spacing: 4px;
}
#content .section-subheading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    color: #ccc;
}
#content .about-text{
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}
#content .member-list{
    margin-top: 32px;
}

#content .member-name{
    font-size: 15px;
}
#content .member-img{
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}
#content .tour-section{
    background: #000;
}
.tickets-list{
    background-color: #fff;
    /* xóa 3 dấu chấm phía trước */
    list-style: none;
    margin-top: 40px;
} 
.tickets-list li{
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;

}
.tickets-list .Sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 8px;
    margin-left: 16px;
}
.tickets-list .quatity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height:24px;
    margin-top: -3px;
}
.place-list{
    margin-top: 16px;
}

.place-img{
    width: 100%;
    display: block;
}
.place-img:hover{
    /* di chuột mờ */
    opacity: 0.6;
}
.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}
.place-heading{
    font-size: 15px;
    font-weight: 600;
}
.place-time{
    margin-top: 15px;
    color: #757575;
}
.place-desc{
    margin-top: 15px ;
    line-height: 1.4;
}
.place-buy-btn{
    color: #fff;
    background-color: #000;
    border: none;
    /* bỏ gạch chân */
    text-decoration: none;
    padding: 8px 16px;
    display: inline-block;  
    margin-top:15px;
    appearance: none;
    -webkit-appearance: none;
}
.place-buy-btn:hover{
    background-color: #ccc;
    color: #000;
}
.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background:rgba(9, 0,0, 0.4);
    align-items: center;
    justify-content: center;
    /* display: flex; */
    display: none;
}
.modal.open{
    display: flex;
}
.modal-container{
    background:#fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.5s;
}
.modal-header{
    background: #009688;
    color: #fff;
    height: 130px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.modal-heading-icon{
    margin-right: 16px;
}
.modal-close{
    position: absolute;
    right: 0;
    color: #fff;
    font-size: 14px;
    padding:  16px;
}
.modal-close:hover{
    background: #ccc;
    color: #000;
}
.modal-body{
    padding: 16px;
}
.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
}
.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    padding: 8px;
    font-size: 15px;
    margin-bottom: 24px;

}
#buy-tickets{
    background-color: #009688;
    width: 100%;
    border: none;
    padding: 16px 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
}
#buy-tickets:hover{
    background-color: #ccc;
    color: #000;
    /* opacity: 0.9; */
}
.modal-footer{
    padding: 16px;
    text-align: right;
}
.modal-footer a {
    color:#2196F3
}
.contact-content{
    margin-top: 50px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.5;
}
.contact-info i[class*=ti-]{
    width: 30px;
    display: inline-block;
}
.contact-info a {
    color: #101aef;
    opacity: 0.8;

}
.contact-info a:hover{
    opacity: 1;
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    padding: 8px;
    border: 1px solid #ccc;
    width: 100%;
}
.form-submit-btn{
    padding: 8px 16px;
    float: right;
    background: #000;
    color: #fff;
    border: 1px solid #ccc;
}
.form-submit-btn:hover{
    background:#ccc;
    color: #000;
}
/* map-section */
.map-section img {
    width: 100%;
}
/* flooter section */
.social-list{
    font-size: 20px;
}
.social-list a{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
.social-list a:hover{
    color: rgba(0, 0, 0, 0.3);

}
#flooter{   
    padding: 64px 16px;
    text-align: center;
}
#flooter .copyright,
#flooter .copyright a{
    margin: 15px 0;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
}

@keyframes modalFadeIn {
    from{
        opacity: 0;
        transform: translateY(-140px)
    }
    to{
        opacity: 1;
        transform: translateY(0)
    }
}